<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="user"  class="com.kuang.pojo.User" name="aaa">
        <!--<property name="name" value="上岛咖啡"/> 无参-->
        <!--<constructor-arg name="name" value="上岛咖啡"/>-->
        <!--<constructor-arg index="0" value="上岛咖啡"/>-->
        <constructor-arg type="java.lang.String" value="喝咖啡"/>
    </bean>
</beans>